$numeric-code-left: 0.875rem;
.world-dashboard-list {
  // transform: perspective(100vh) scale(0.95) rotateY(8deg);
  overflow: hidden;
  .countries {
    overflow: auto;
    @include scrollbar();
    .load-more {
      cursor: pointer;
      margin: 0.5rem 0.25rem 0.5rem 0;
      background-color: var(--color1-strong);
      padding: 1.5rem 0;
      transition: al 0.3s;
      &:hover {
        background-color: hsla(var(--base-color1), 100%, 20%, 1);
      }
    }
    .country {
      cursor: pointer;
      position: relative;
      margin: 0.25rem 0.25rem 0.25rem $numeric-code-left;
      background-color: var(--color1-light);
      transition: background-color 0.3s;
      &:not(.selected):hover {
        background-color: var(--color1-dark);
      }
      &.selected {
        background-color: var(--color1-strong);
      }
      .numeric-code {
        position: absolute;
        height: 100%;
        top: 0;
        left: -$numeric-code-left;
        writing-mode: vertical-rl;
        font-size: 0.6rem;
        background-color: var(--color1-light);
      }
      .wrap-country-flag {
        height: 3rem;
        text-align: right;
        .country-flag {
          height: 100%;
          object-fit: cover;
        }
      }
      .top-section {
        display: flex;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s;
        padding: 0.25rem 0.75rem 0.25rem 0.25rem;
        .wrap-country-status {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0 0 0.25rem 0.5rem;
          text-align: left;
          width: 100%;
          overflow: hidden;
          .country-name {
            min-width: 80px;
            font-size: 1.2rem;
          }
          .status-details {
            font-size: 0.8rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: flex;
            align-items: center;
            .rank {
              font-size: 1rem;
              .rank-icon {
                font-size: 0.8rem;
                transform: rotate(180deg);
                color: hsla(var(--base-color2), 100%, 50%, 1);
                writing-mode: vertical-rl;
              }
            }
            .cases {
              display: flex;
              align-items: flex-end;
              padding: 0 0 0 0.75rem;
              .wrap-icon-svg {
                height: 1.1rem;
                width: 1.1rem;
                .main-path {
                  fill: hsla(var(--base-color2), 79%, 63%, 1);
                }
                .center-circle {
                  fill: hsla(var(--base-color2), 100%, 28%, 1);
                }
                .g-circle {
                  fill: hsla(var(--base-color2), 79%, 63%, 1);
                }
              }
              .cases-value {
                padding: 0 0 0 1px;
              }
            }
          }
        }
      }
      .bottom-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        font-size: 0.8rem;
        padding: 2px 0 1px 0;
        .category {
          .title {
            font-size: 0.8rem;
          }
          .value {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
