.world-dashboard-map {
  position: relative;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  background-color: var(--color1-light);
  color: ghostwhite;
  @include linear-gradient-clip-border(var(--color1-light-saturation));
  .svg-map {
    height: 100%;
    width: 100%;
    .g-paths {
      stroke: #000;
      .country-path {
        cursor: pointer;
        fill: hsla(var(--base-color1), 100%, 10%, 1);
        stroke: hsla(var(--base-color2), 100%, 65%, 0.5);
        &.selected {
          fill: hsla(var(--base-color2), 92%, 12%, 0.2);
        }
        &.selecting {
          fill: hsla(var(--base-color1), 100%, 10%, 0.4);
        }
        &:not(.selected):not(.selecting):hover {
          fill: hsla(var(--base-color1), 100%, 20%, 0.4);
        }
      }
      .country-path-label {
        pointer-events: none;
        fill: #ddd;
        stroke: transparent;
      }
    }
    .g-circles {
      pointer-events: none;
      user-select: none;
      stroke: rgba(255, 255, 255, 0.5);
      .country-circle-data {
        fill: rgba(255, 0, 0, 0.1);
      }
      .circle-text {
        text-anchor: middle;
        stroke: none;
        fill: var(--color1-glare);
      }
    }
  }
  .map-options {
    position: absolute;
    bottom: 0.75rem;
    left: 0.75rem;
    width: calc(100% - 1.5rem);
    & > :not(:last-child) {
      margin: 0 0 0.5rem 0;
    }
    .circles-options {
      display: flex;
      :not(:last-child) {
        margin: 0 0.5rem 0 0;
      }
    }
    .main-options {
      display: flex;
      :not(:last-child) {
        margin: 0 0.5rem 0 0;
      }
    }
  }
  .map-tooltip {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 2px 4px;
    color: white;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: hsla(var(--base-color1), 100%, 20%, 1);
    .tooltip-img {
      height: 1.6rem;
    }
    .tooltip-title {
      margin: 0 0 0 0.25rem;
    }
  }
}
