$pseudo-border-size: 10px;

.world-dashboard-world-details {
  margin-bottom: 0.5rem;
  @include linear-gradient-clip-border(var(--color1-dark));
  .title {
    padding: 0.25rem 0;
  }
  .world-details {
    padding: 0 0.5rem 1rem;
    margin: 0 auto;
    animation: width-opacity-0To100 1s linear;
    .world-detail {
      cursor: pointer;
      position: relative;
      background-color: var(--color1-normal);
      font-size: 1.2rem;
      overflow: hidden;
      border-bottom: 1px solid var(--color1-border);
      width: 94%;
      @include clip-path(polygon(101% 0%, 100% 96%, 75% 100%, 25% 100%, 0% 96%, -1% 0%));
      margin-left: auto;
      margin-right: auto;
      transition: all .5s;
      &:hover {
        width: 100%;
        color: var(--color1-border);
      }
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      &:before {
        @include pseudo();
        border: $pseudo-border-size solid;
        bottom: -$pseudo-border-size;
        left: -$pseudo-border-size;
        @include linear-gradient-pseudo-border(right top, left bottom);
      }
      &:after {
        @include pseudo();
        border: $pseudo-border-size solid;
        bottom: -$pseudo-border-size;
        right: -$pseudo-border-size;
        @include linear-gradient-pseudo-border(left top, right bottom);
      }
      .pseudo-border {
        &:before {
          @include pseudo();
          border: $pseudo-border-size solid;
          top: -$pseudo-border-size;
          left: -$pseudo-border-size;
          @include linear-gradient-pseudo-border(right bottom, left top);
        }
        &:after {
          @include pseudo();
          border: $pseudo-border-size solid;
          top: -$pseudo-border-size;
          right: -$pseudo-border-size;
          @include linear-gradient-pseudo-border(left bottom, right top);
        }
      }
      .wrap-precent {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0.25rem;
        display: flex;
        align-items: center;
        .precent {
          padding: 0.1rem 0.4rem 0.2rem 0.4rem;
          font-size: 1rem;
          border: 1px solid var(--color1-strong);
          border-radius: 2rem;
        }
      }
    }
  }
}

// .border-in-border {
//   border-width: 14px;
//   border-style: solid;
//   bottom: 0px;
//   right: 0px;
//   transform: rotate(45deg);
//   border-image-width: 6px;
//   border-image-width: 1px;
//   border-image-source: linear-gradient(135deg, #4095bf 0%, #4095bf 30%, #131c20 40%, #131c20 100%);
//   border-image-slice: 1;
// }
