.world-dashboard-map {
  height: 100%;
  overflow: hidden;
  background-color: var(--color1-light);
  color: ghostwhite;
  // clip-path: polygon(2% 0, 98% 0, 100% 2%, 100% 98%, 98% 100%, 0 100%, 0 2%);
  background: linear-gradient(
      135deg,
      #0000 0%,
      #0000 1%,
      var(--color1-light) 1%,
      var(--color1-light) 99%,
      var(--color1-light) 99%,
      #0000 99%,
    );
  .svg-map {
    height: 100%;
    width: 100%;
    .g-paths {
      stroke: #000;
      .country-path {
        cursor: pointer;
        fill: hsla(200, 100%, 10%, 1);
        stroke: hsla(35, 100%, 65%, 0.5);
        &:hover {
          fill: hsla(200, 100%, 20%, 1);
        }
        &.selected {
          opacity: 0.4;
        }
      }
      .country-path-label {
        pointer-events: none;
        fill: #ddd;
        stroke: transparent;
      }
    }
  }
}
