.world-dashboard-list {
  // transform: perspective(100vh) scale(0.95) rotateY(8deg);
  overflow: hidden;
  .countries {
    overflow: auto;
    @include scrollbar();
    .country {
      cursor: pointer;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      padding: 0.25rem;
      background-color: var(--color1-dark);
      border-top: 1px solid var(--color1-light);
      border-bottom: 1px solid var(--color1-light);
      transition: background-color 0.3s;
      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: 2px solid var(--color1-light);
      }
      &:hover {
        background-color: var(--color2-light);
      }
      &.selected {
        background-color: var(--color1-light);
      }
      .country-name {
        width: 50%;
        min-width: 80px;
        font-size: 1.2rem;
      }
      .wrap-country-flag {
        width: 50%;
        min-width: 100px;
        height: 50px;
        .country-flag {
          height: 100%;
          max-width: 100%;
          object-fit: cover;
          border: 2px solid var(--color1-border);
        }
      }
    }
  }
}
