.world-dashboard-details {
  overflow: hidden;
  max-width: 19rem;
  min-width: 16rem;
  margin: 0 auto;
  .selected-country-name {
    padding: 0.25rem 0 0.5rem;
  }
  .selected-country-details {
    @include scrollbar();
    overflow: auto;
    text-align: left;
    .selected-country-detail {
      padding: 0 0.5rem 0 0;
      display: grid;
      grid-template-columns: 50% 34% 16%;
      &:not(:last-child) {
        margin: 0 0 0.5rem 0;
      }
      .title {
        display: flex;
        align-items: center;
        .wrap-icon-svg {
          height: 1.1rem;
          width: 1.1rem;
        }
      }
    }
  }
}
