.world-dashboard-list {
  // transform: perspective(100vh) scale(0.95) rotateY(8deg);
  overflow: hidden;
  .countries {
    overflow: auto;
    @include scrollbar();
    .country {
      cursor: pointer;
      position: relative;
      padding: 0.25rem;
      margin: 0.25rem 0.25rem 0.25rem 1rem;
      background-color: var(--color1-light);
      transition: background-color 0.3s;
      &:not(.selected):hover {
        background-color: var(--color1-dark);
      }
      &.selected {
        background-color: var(--color1-strong);
      }
      .numeric-code {
        position: absolute;
        height: 100%;
        top: 0;
        left: -1rem;
        writing-mode: vertical-rl;
        // text-orientation: mixed;
        // transform: rotate(180deg);
        font-size: 0.6rem;
        background-color: rebeccapurple;
      }

      .top-section {
        display: flex;
        justify-content: space-evenly;
        background-color: var(--color1-normal);
        transition: background-color 0.3s;
        padding: 0 0 0 0.5rem;
        .wrap-country-status {
          text-align: left;
          width: 100%;
          overflow: hidden;
          .country-name {
            min-width: 80px;
            font-size: 1.2rem;
          }
          .status-details {
            font-size: 0.8rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .rank {
              position: relative;
              .rank-icon {
                transform: rotate(180deg);
                color: gold;
                font-size: 1.2rem;
                writing-mode: vertical-rl;
              }
            }
            .cases {
              position: relative;
              padding: 0 0 0 1.5rem;
              &:before {
                @include pseudo($content: "🦠");
                top: -0.15rem;
                left: 0.4rem;
                font-size: 1rem;
              }
            }
            .deaths {
              position: relative;
              padding: 0 0 0 1.75rem;
              &:before {
                @include pseudo($content: "☠");
                color: hsla(0, 100%, 60%, 1);
                top: -0.3rem;
                left: 0.6rem;
                font-size: 1.2rem;
              }
            }
          }
        }
        .wrap-country-flag {
          height: 3rem;
          text-align: right;
          .country-flag {
            height: 100%;
            object-fit: cover;
            padding: 2px;
          }
        }
      }
      .bottom-section {
        display: grid;
        // grid-template-columns: repeat(4, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        font-size: 0.8rem;
        padding: 0.25rem 0 0;
        .category {
          .title {
            font-size: 1rem;
          }
          .value {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
