.settings {
  height: 100%;
  padding: 0.5rem;
  .visual-settings {
    .settings-colors {
      width: 200px;
      margin: 0 auto;
      .wrap-color-control {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 1rem 0;
        .title {
          margin: 0 0 0.5rem 0;
        }
      }
      .colors-btns {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
