.world-dashboard {
  height: 100%;
  display: flex;
  overflow: hidden;
  padding: 0.5rem;
}
.wrap-global-and-list {
  margin: 0 0.5rem 0 0;
  width: 20%;
}
.world-dashboard-map {
  margin: 0 0.5rem 0 0;
  width: 50%;
}
.world-dashboard-details {
  width: 30%;
}
