.graph-columns {
  height: 100%;
  // background-color: var(--color1-light-saturation);
  border-radius: 4px;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 1.5rem;
  .columns {
    display: flex;
    height: 100%;
    .column {
      display: flex;
      flex-direction: column-reverse;
      // background-color: var(--color1-dark);
      &:nth-child(3n + 1) .column-percent .wrap-value {
        opacity: 1;
      }
      &:last-child .column-percent {
        margin: 0 0 0 1px;
        .wrap-value {
          opacity: 1;
        }
      }
      &:first-child .column-percent {
        margin: 0 1px 0 0;
      }
      &:hover .column-percent {
        border-top: 5px solid var(--color1-border);
        transition: border-top 0.2s ease-in;
        .wrap-value {
          opacity: 1;
          z-index: 100;
          transition: opacity 0.2s ease-in;
        }
      }
      .column-percent {
        position: relative;
        height: 100%;
        margin: 0 1px;
        background-color: var(--color1-strong);
        border-top: 5px solid var(--color2-border);
        pointer-events: auto;
        .wrap-value {
          opacity: 0;
          transition: opacity 0.5s ease-out;
          display: flex;
          justify-content: center;
          position: relative;
          z-index: 20;
          .value {
            font-size: 0.8rem;
            position: relative;
            background-color: hsla(0, 0%, 8%, 0.75);
            padding: 1px 2px;
            border-radius: 4px;
            top: 0.5rem;
          }
        }
        .line {
          position: absolute;
          width: 125%;
          left: 25%;
          height: 2px;
          background-color: white;
          z-index: 20;
          border-radius: 0.1rem;
        }
      }
    }
  }
  .graph-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.25rem 0 0 0;
    .graph-text {
      flex-grow: 1;
      .text {
        color: var(--color1-font);
        background-color: var(--color1-light-saturation);
        padding: 1px 4px;
        border-radius: 4px;
      }
    }
    .buttons-options {
      pointer-events: auto;
      flex-grow: 1;
      & > :not(:last-child) {
        margin: 0 0.5rem 0 0;
      }
    }
  }
}
