@import "./clearing";

* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 16px;
  font-family: sans-serif, Arial, serif;
}

body {
  color: var(--color1-font);
  background-color: var(--color1-normal);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  height: 100vh;
  text-align: center;
  padding: var(--main-padding);
  .router {
    height: 100%;
    padding: var(--navBar-height) 0 0;
  }
}
