// small mobile
@media (min-width: 64px) and (max-width: 279px) {
  html {
    font-size: 10px;
  }
}
// medium mobile
@media (min-width: 280px) and (max-width: 479px) {
  html {
    font-size: 12px;
  }
}
// large mobile
@media (min-width: 480px) and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

// All mobile
@media (min-width: 64px) and (max-width: 767px) {
  .world-dashboard {
    flex-direction: column;
    .wrap-global-and-list,
    .world-dashboard-map,
    .world-dashboard-details {
      width: 100%;
    }
    .wrap-global-and-list {
      height: 35%;
    }
    .world-dashboard-map {
      height: 30%;
    }
    .world-dashboard-details {
      height: 35%;
    }
    > :not(:last-child){
      margin: 0 0 0.5rem 0;
    }
    .world-dashboard-global-details {
      display: none;
    }
  }
}

// All desktop
@media (min-width: 768px) {
  
}

// small desktop
@media (min-width: 768px) and (max-width: 1023px) {
  // html {
  //   font-size: 16px;
  // }
}
@media (min-width: 1024px) and (max-width: 1419px) {
  // html {
  //   font-size: 16px;
  // }
}
// medium desktop
@media (min-width: 1420px) and (max-width: 1699px) {
  // html {
  //   font-size: 18px;
  // }
}
// large desktop
@media (min-width: 1700px) and (max-width: 1919px) {
  html {
    font-size: 18px;
  }
}

// Xlarge desktop
@media (min-width: 1920px) and (max-width: 2399px) {
  html {
    font-size: 20px;
  }
}
// XXlarge desktop
@media (min-width: 2400px) {
  html {
    font-size: 22px;
  }
}
