// small mobile
@media (min-width: 64px) and (max-width: 279px) {
  html {
    font-size: 10px;
  }
}
// medium mobile
@media (min-width: 280px) and (max-width: 479px) {
  html {
    font-size: 12px;
  }
}
// large mobile
@media (min-width: 480px) and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

// All mobile
@media (min-width: 64px) and (max-width: 767px) {
  .nav-bar .nav-bar-links {
    &.desktop {
      display: none;
    }
    .nav-link {
      &:not(:last-child) {
        border-bottom-width: 1px;
      }
      &:not(:first-child) {
        border-top-width: 2px;
      }
    }
  }
  .world-dashboard {
    flex-direction: column-reverse;
  }
  .wrap-worldData-and-list {
    width: 100%;
    height: 40%;
    margin: 0;
  }
  .world-dashboard-map {
    width: 100%;
    height: 30%;
    margin: 0 0 0.5rem 0;
  }
  .world-dashboard-details {
    width: 100%;
    height: 30%;
    margin: 0 auto 0.5rem auto;
    .graph-rows {
      display: none;
    }
    .country-details {
      max-height: 100%;
    }
  }
  .world-dashboard-world-details {
    display: none;
  }

  .country-view {
    display: flex;
    flex-direction: column-reverse;
  }
  .country-view-details {
    height: 28%;
    margin: 0 auto 0.5rem auto;
  }
  .country-view-presentation {
    height: 37%;
    margin: 0 0 0.5rem 0;
  }
  .country-view-list {
    height: 35%;
  }
  .country-view-bottom {
    position: absolute;
    bottom: 34%;
    left: 0;
    right: 0;
  }
}

// All desktop
@media (min-width: 768px) {
  .nav-bar {
    .nav-menu {
      display: none;
    }
    .nav-bar-links {
      flex-direction: row;
      position: relative;
      top: auto;
      left: auto;
      &.mobile {
        display: none;
      }
      .nav-link {
        &:not(:last-child) {
          border-right-width: 1px;
        }
        &:not(:first-child) {
          border-left-width: 2px;
        }
      }
    }
  }
  .wrap-worldData-and-list {
    max-width: 20rem;
    min-width: 18rem;
  }
}

// small desktop
@media (min-width: 768px) and (max-width: 1023px) {
  // html {
  //   font-size: 16px;
  // }
}
@media (min-width: 1024px) and (max-width: 1419px) {
  // html {
  //   font-size: 16px;
  // }
}
// medium desktop
@media (min-width: 1420px) and (max-width: 1699px) {
  // html {
  //   font-size: 18px;
  // }
}
// large desktop
@media (min-width: 1700px) and (max-width: 1919px) {
  html {
    font-size: 18px;
  }
}

// Xlarge desktop
@media (min-width: 1920px) and (max-width: 2399px) {
  html {
    font-size: 20px;
  }
}
// XXlarge desktop
@media (min-width: 2400px) {
  html {
    font-size: 22px;
  }
}
