.country-details {
  .country-details-title {
    display: flex;
    align-items: center;
    padding: 0 0 0.5rem 0;
    .wrap-country-icon {
      $icon-height: 3rem;
      margin: 0 0.5rem 0 0;
      text-align: right;
      height: $icon-height;
      &.earth {
        border-radius: 50%;
        overflow: hidden;
        max-width: $icon-height;
      }
      .country-flag {
        object-fit: cover;
        height: 100%;
      }
      .country-earth {
        height: 105%;
        position: relative;
        left: -2%;
        top: -2%;
      }
    }
    .wrap-country-title {
      text-align: left;
      .continent {
        font-size: 0.8rem;
      }
    }
  }
  .country-details-list {
    @include scrollbar();
    overflow: auto;
    text-align: left;
    @include height-animation();
    border-radius: 4px;
    padding: 0.25rem 0.75rem 0.25rem 0.25rem;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    // background-color: rgba(0, 0, 0, calc(min(0.6, calc(-0.25 + 0.25 * var(--brightness)))));
    background-color: rgba(0, 0, 0, calc(-0.25 + 0.25 * var(--brightness)));
    .country-details-item {
      padding: 0 0.4rem 0 0;
      display: grid;
      grid-template-columns: 48% 36% 16%;
      &:not(:last-child) {
        padding: 0 0 0.5rem 0;
      }
      .title {
        display: flex;
        align-items: center;
        .wrap-icon-svg {
          height: 1.1rem;
          width: 1.1rem;
        }
      }
      .population {
        grid-column: 2 / 4;
        position: relative;
        .wrap-icon-svg {
          position: absolute;
          right: 0;
          height: 1.8rem;
          width: 1.8rem;
          bottom: calc(-2px - 0.2rem);
          padding: calc(2px + 0.2rem);
          &:hover {
            .population-info {
              // visibility: visible;
              opacity: 1;
              transition: opacity 0.3s;
            }
          }
          .population-info {
            // visibility: hidden;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.5s;
            position: absolute;
            right: calc(2px + 0.2rem);
            top: calc(100% + 4px);
            white-space: nowrap;
            background-color: var(--color1-strong);
            padding: 3px 6px;
            border-radius: 4px;
            border: 1px solid var(--color1-border);
            &::before {
              content: "";
              position: absolute;
              right: 3px;
              top: -8px;
              border-style: solid;
              border-width: 0px 6px 8px 6px;
              border-color: #0000 #0000 var(--color1-border) #0000;
            }
          }
        }
      }
      .percent {
        text-align: right;
      }
    }
  }
}
