.filter-input {
  background-color: transparent;
  width: 100%;
  border: none;
  padding: 0.5rem 0.5rem 0.4rem;
  font-size: 1rem;
  color: white;
  &::placeholder {
    color: hsla(var(--base-color1), 0%, calc(186% + -93% * var(--brightness)), 0.6);
  }
}

.custom-filter-input {
  background-color: var(--color1-light);
  border-radius: 3px 3px 10px 0px;
  border-bottom: 2px solid var(--color1-border);
}
