.graph-rows {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: transparent;
  .wrap-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0;
    padding: 0.2rem 0;
    border-radius: 4px;
    transition: all 0.3s;
    .title {
      margin: 0 0.5rem;
    }
    &:hover {
      background-color: var(--color1-light-saturation);
    }
    .wrap-icon-svg {
      display: grid;
      height: 1.4rem;
      width: 1.4rem;
    }
  }
  .rows {
    @include scrollbar();
    overflow: auto;
    padding: 0.5rem 0.5rem 0.5rem 0;
    & > :not(:last-child) {
      margin: 0 0 0.5rem;
    }
    .row {
      display: flex;
      align-items: center;
      height: 1.5rem;
      text-align: left;
      padding: 0 0 0 0.25rem;
      border-radius: 2px;
      background-color: rgb(77, 77, 77);
      .name {
        cursor: pointer;
        white-space: nowrap;
        transition: all 0.3s;
        &:hover {
          position: relative;
          top: -1px;
          text-decoration: underline;
        }
      }
    }
  }
}
