.virus-icon-svg {
  .main-path {
    fill: hsla(var(--base-color2), 79%, 63%, 1);
  }
  .center-circle {
    fill: hsla(var(--base-color2), 100%, 28%, 1);
  }
  .g-circle {
    fill: hsla(var(--base-color2), 79%, 63%, 1);
  }
}