.country-view-presentation {
  // background-color: hsla(34, 15%, 30%, 0.726);
  .svg-country-presentation {
    height: 100%;
    width: 100%;
    .country-path {
      stroke: #000;
      fill: hsl(200, 100%, 50%);
      stroke: hsla(200, 100%, 75%, 0);
    }
  }
}
