.country-view-bottom {
  // overflow: hidden;
  .wrap-loader-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .lighter {
      height: 75vh;
      position: absolute;
      bottom: 2vh;
      width: 26vh;
      background: linear-gradient(to bottom, #0000 0%, rgba(59, 167, 222, 0.15) 100%);
    }
    .lighter-1 {
      border-radius: 50% 120% 11vh 11vh;
    }
    .lighter-2 {
      border-radius: 120% 50% 11vh 11vh;
    }
    .loader-svg {
      overflow: hidden;
      width: 12vh;
      @include transform(perspective(100vh) scale(2.5) rotateX(70deg));
      .g-loader {
        @include transform(translate(50%, 50%));
        .light-source {
          fill: var(--color1-glare);
        }
        .spiner {
          fill: transparent;
          stroke: var(--color1-border);
        }
        .spiner-1 {
          stroke-width: 2px;
          stroke-linecap: round;
          stroke-dasharray: 15.5;
          // animation: spin 8s linear infinite;
        }
        .spiner-2 {
          stroke-width: 3px;
          stroke-linecap: round;
          stroke-dasharray: 11.6;
          // animation: spin-reverse 12s linear infinite;
        }
        .spiner-3 {
          stroke-width: 9px;
          stroke-linecap: unset;
          stroke-dasharray: 2.2;
          // animation: spin 14s linear infinite;
        }
      }
    }
  }
}
