.country-view-bottom {
  pointer-events: none;
  z-index: -10;
  .wrap-loader-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .lighter {
      height: 60vh;
      max-height: 50vw;
      position: absolute;
      bottom: 5vh;
      width: 26vh;
      max-width: 40vw;
      background: linear-gradient(
        180deg,
        transparent,
        hsla(var(--base-color1), 70%, calc(50% - 5% * var(--brightness)), 0.2),
        hsla(var(--base-color1), 70%, calc(50% - 5% * var(--brightness)), 0.4)
      );
    }
    .lighter-1 {
      border-radius: 50% 50% 26vh 26vh / 130% 130% 100% 100%;
    }
    .lighter-2 {
      border-radius: 20% 20% 360vh 360vh / 130% 130% 2000% 2000%;
    }
    .loader-svg {
      overflow: hidden;
      width: 12vh;
      @include transform(perspective(100vh) scale(2.5) rotateX(70deg));
      .g-loader {
        @include transform(translate(50%, 50%));
        .light-source {
          fill: hsla(var(--base-color1), 100%, calc(120% - 30% * var(--brightness)), 1);
        }
        .spiner {
          fill: transparent;
          stroke: var(--color1-border);
        }
        .spiner-1 {
          stroke-width: 2px;
          stroke-linecap: round;
          stroke-dasharray: 15.5;
          animation: spin 8s linear;
          animation-iteration-count: 2;
        }
        .spiner-2 {
          stroke-width: 3px;
          stroke-linecap: round;
          stroke-dasharray: 11.6;
          animation: spin-reverse 12s linear;
          animation-iteration-count: 1;
        }
        .spiner-3 {
          stroke-width: 9px;
          stroke-linecap: unset;
          stroke-dasharray: 2.2;
          animation: spin 16s linear;
          animation-iteration-count: 1;
        }
      }
    }
  }
}
