.app-notifications {
  position: fixed;
  z-index: 20000;
  bottom: 0;
  left: 0;
  padding: 1.15rem;
  & > :not(:last-child) {
    margin-bottom: 0.5rem;
  }
  .service-worker-msg {
    .text {
      font-size: 1.2rem;
      padding: 0 0 0.5rem;
    }
    position: relative;
    padding: 0.5rem 0.75rem 0.75rem;
    border-radius: 8px;
    border: 2px dashed var(--color1-font);
    background-color: var(--color1-normal);
    animation: toTop0 1.2s linear;
    @keyframes toTop0 {
      from {
        position: relative;
        top: 150px;
      }
      to {
        position: relative;
        top: 0;
      }
    }
  }
}
