.nav-bar {
  height: var(--navBar-height);
  position: fixed;
  left: calc(var(--navBar-height) / 2 + var(--main-padding));
  .nav-link {
    @include transform(skew(-45deg));
    display: inline-block;
    color: var(--color1-font);
    padding: 4px 0.625rem;
    border-color: var(--color1-border);
    border-style: solid;
    border-width: 2px 3px 2px 3px;
    transition: all .3s;
    &.active {
      background-color: var(--color1-light);
      box-shadow: 0 0 6px #008cdc inset, 0 0 6px #008cdc;
    }
    &:not(:last-child) {
      border-right-width: 1px;
    }
    &:not(:first-child) {
      border-left-width: 2px;
    }
    &:not(.active):hover{
      box-shadow: 0 0 3px #008cdc inset, 0 0 3px #008cdc;
    }
    .text {
      @include transform(skew(45deg));
      display: inline-block;
    }
  }
}
